.navbar {
  line-height: 70px;
}

.navbar-logo {
  margin-top:-5px;
  max-height: 60px;
}

.navbar-title {
  font-size: 1.3em;
  font-style: italic;
  font-weight:600;
  color:#003f7f;
  display:inline;
  line-height: 50px;
}

.navbar {
  border-bottom: 1px #003f7f solid;
  background: white;
}

.panel-default .panel-heading {
  background: rgba(0,63,127,0.2); 
  color:#003f7f;
  font-weight: 600;
  font-size: 1.2em;
  height: 100%;

}

.is-embed {
  height: 100%;
  border: 0;
}
.is-embed iframe {
  width: 100%;
  height: 1420px;
  border: 0;
}

.csr-color {
  color:#003f7f;
}

h1 {
  font-size: 2em;
  color: #003f7f;
}
